.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 40px;
}

.app-intro {
  font-size: large;
}

.todo-app {
    padding-top:20px;
    display: inline-block;
    text-align: left;
}

.todo-list ul{
    text-align: left;
}

.todo-list ul li div > button {
    margin-left: 30px;
}

.todo-list ul li div > label {
    text-transform: capitalize;
    color: #605e5e;
}

.todo-list ul li div > label > span {
    padding-left: 20px;
}

input {
    font-size: 20px
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
}
.footer a {
    padding-left: 5px;
    padding-right: 5px;
}
.footer a.active {
    font-weight:bold;
}


@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
